<%= page_title('New International Plan', 'Cancel', international_plans_path) %>

<%= form_for(@international_plan) do |f| %>
  <%= error_messages(@international_plan) %>

  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>