<%= page_title('Editing Sales Representative', 'Cancel', sales_reps_path) %>

<%= form_for(@sales_rep) do |f| %><br />
  <%= error_messages(@sales_rep) %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>