<%= page_title('New Billed Tax', 'Cancel', bill_billed_taxes_path) %>

<%= form_for [@bill, @billed_tax], :url=>{ :controller => :billed_taxes, :action => :create, :page => params[:page] } do |f| %>
  <%= error_messages(@billed_tax) %>

<%= hidden_field_tag :bill_id, params[:bill_id] %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :rate %>
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>