<%= page_title('Editing International Rate', 'Cancel', international_plan_path(@international_rate.international_plan.id)) %>

<%= form_for @international_rate, :url=>{ :controller => :international_rates, :action => :update, :page => params[:page] } do |f| %>
  <%= error_messages(@international_rate) %>

  <p>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.label :rate %>
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.label :call_type %>
    <%= select(:international_rate, :call_type, options_for_select([[CallTypeInfo.get_call_type_name(CallTypeInfo::NON_OVERSEAS), CallTypeInfo::NON_OVERSEAS], [CallTypeInfo.get_call_type_name(CallTypeInfo::OVERSEAS), CallTypeInfo::OVERSEAS], [CallTypeInfo.get_call_type_name(CallTypeInfo::OVERSEAS_MOBILE), CallTypeInfo::OVERSEAS_MOBILE], [CallTypeInfo.get_call_type_name(CallTypeInfo::CARIBBEAN), CallTypeInfo::CARIBBEAN], [CallTypeInfo.get_call_type_name(CallTypeInfo::CARIBBEAN_MOBILE), CallTypeInfo::CARIBBEAN_MOBILE], [CallTypeInfo.get_call_type_name(CallTypeInfo::FIXED_RATE), CallTypeInfo::FIXED_RATE]],@international_rate.call_type)) %>
  </p>
  <p>
    <%= f.label :increment_in_seconds %>
    <%= f.text_field :increment_in_seconds %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>